.preview {
  @media (min-width: 768px) {
    height: 70vh;
    width: 40%;
  }

  &__cover-img {
    object-fit: cover;
    width: 100%;
    height: 80%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);


    @media (min-width: 768px) {
      object-fit: cover;
      width: 100%;
      height: 70%;
    }

    @media (min-width: 1024px) {
      height: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #3e3e3e;
    margin-bottom: 2rem;
    padding: 3rem 1.7rem;

    
    @media (min-width: 768px) {

    }

    @media (min-width: 1024px) {
    }

    &--info {
      background-color: $black1;
      width: 80%;
      padding: 3rem;

      &--intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5rem;
      }

      &--subtitle {
        background-color: white;
        font-size: 0.8rem;
        text-align: center;
         font-family: $regular;
        position: relative;
        z-index: 1;
        width: 65%;
        text-align: center;

        @media (min-width: 768px) {
          font-size: 1.1rem;
          text-align: center;
        }

        @media (min-width: 1024px) {
          font-size: 1.5rem;
          width: 35%;
        }
      }

      &--title {
         font-family: $regular;
        font-size: 1.2rem;
        font-weight: bold;
        color: $lime;
        text-align: left;

        @media (min-width: 768px) {
          font-size: 2rem;
          margin-bottom: 1rem;
        }

        @media (min-width: 1024px) {
          font-size: 2.4rem;
        }
      }

      &--slogan {
         font-family: $regular;
        font-size: 1.2rem;
        margin-bottom: 1rem;
        color: white;
        font-weight: bold;

        @media (min-width: 768px) {
          font-size: 1.4rem;
        }
        @media (min-width: 1024px) {
          font-size: 1.8rem;
        }
      }

      &--desc {
         font-family: $regular;
        font-size: 0.8rem;
        margin-bottom: 1rem;
        line-height: 1.5;
        color: white;

        @media (min-width: 768px) {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        @media (min-width: 1024px) {
          font-size: 1.6rem;
        }
      }

      &--technologies {
         font-family: $regular;
        display: flex;
        align-items: center;
        background-color: $lime;
        font-size: 1rem;
        padding: 1rem;

        @media (min-width: 768px) {
          font-size: 1.4rem;
        }
      }

      &--icons {
        &--i {
         font-size: 1.7rem;
         color: black;
         padding-right: 1rem;
        }
      }
    }

    &--autor {
      width: 40%;
      text-align: center;

      &--img {
        border-radius: 50%;
        width: 90%;
        padding: 1rem 0;

        @media (min-width: 768px) {
          border-radius: 50%;
          width: 90%;
        }

        @media (min-width: 1024px) {
          width: 50%;
          padding: 2rem 0;
        }
      }

      &--job {
         font-family: $regular;
        color: $black1;
        font-size: 1rem;

        @media (min-width: 768px) {
          font-size: 1.4rem;
        }

        @media (min-width: 1024px) {
          font-size: 1.6rem;
        }
      }

      &--name {
         font-family: $regular;
        font-size: 1.4rem;
        font-weight: bold;
        color: $purple;
        padding-bottom: 0.5rem;

        @media (min-width: 768px) {
          font-size: 1.6rem;
        }

        @media (min-width: 1024px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  &__card-position {
    transform: translateY(-40px);

    @media (min-width: 768px) {
      transform: translateY(-50px);
    }

    @media (min-width: 1024px) {
      transform: translateY(-120px);
    }
  }
}

