.header_detail {
  font-family: 'Prompt', sans-serif;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}

@media (min-width: 768px) {
  .header_detail {
  display: flex;
}
}

.header_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header_detail {
    display: flex;
  }
}

@media (min-width: 768px) {
  .header_detail {
    display: flex;
  }
}

.header_detail__link {
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.header_detail__logo {
  padding: 1rem;
  width: 20%;
}

@media (min-width: 768px) {
  .header_detail__logo {
    padding: 2rem;
    width: 15%;
  }
}

@media (min-width: 1024px) {
  .header_detail__logo {
    width: 6%;
  }
}

.header_detail__name {
  font-size: 2rem;
    padding: 1rem;
    color: white;
    font-weight: 600;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}

@media (min-width: 768px) {
  .main {
    align-items: start;
    display: flex;
    flex-direction: row;
    padding: 30px 0 50px;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 30px 0 80px;
  }
}

.detailsPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.detailsPage__cover {
  border-radius: 2rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  object-fit: cover;
  width: 100%;
}

@media (min-width: 1024px) {
  .detailsPage__cover {
    width: 70%;
  }
}

.detailsPage__card {
  background-color: #fff;
  border-radius: 2rem;
  color: #3e3e3e;
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  margin: auto;
  padding: 3rem 1.7rem;
  width: 85%;
}

@media (min-width: 768px) {
  .detailsPage__card {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card {
    align-items: center;
    justify-content: center;
    width: 70%;
  }
}

.detailsPage__card--info {
  width: 60%;
}

.detailsPage__card--info--intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.detailsPage__card--info--subtitle {
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  position: relative;
  text-align: center;
  width: 65%;
  z-index: 1;
}

@media (min-width: 768px) {
  .detailsPage__card--info--subtitle {
    font-size: 1.1rem;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--subtitle {
    font-size: 1.5rem;
    width: 35%;
  }
}

.detailsPage__card--info--line {
  background-image: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0),
    rgba(1, 1, 1, 0.75),
    hsla(0, 0%, 100%, 0)
  );
  border: 0;
  height: 0.1rem;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  width: 100%;
}

@media (min-width: 768px) {
  .detailsPage__card--info--line {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--line {
    -webkit-transform: translateY(-11px);
    transform: translateY(-11px);
  }
}

.detailsPage__card--info--title {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
}

@media (min-width: 768px) {
  .detailsPage__card--info--title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--title {
    font-size: 2.4rem;
  }
}

.detailsPage__card--info--slogan {
  color: #575757;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--slogan {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--slogan {
    font-size: 1.8rem;
  }
}

.detailsPage__card--info--desc {
  font-family: Inter, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--desc {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--desc {
    font-size: 1.6rem;
  }
}

.detailsPage__card--info--technologies {
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  padding: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--technologies {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--technologies {
    font-size: 1.8rem;
  }
}

.detailsPage__card--info--icons--i {
  color: #000;
  font-size: 1.5rem;
  padding-right: 0.7rem;
  padding-top: 0.6rem;
}

.detailsPage__card--autor {
  text-align: center;
  width: 40%;
}

.detailsPage__card--autor--img {
  border-radius: 50%;
  width: 90%;
}

@media (min-width: 768px) {
  .detailsPage__card--autor--img {
    border-radius: 50%;
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--autor--img {
    width: 50%;
  }
}

.detailsPage__card--autor--job {
  color: #909090;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--autor--job {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--autor--job {
    font-size: 1.8rem;
  }
}

.detailsPage__card--autor--name {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .detailsPage__card--autor--name {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--autor--name {
    font-size: 2.2rem;
  }
}