/*-------- reset --------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Catamaran", sans-serif;
  font-size: 62.5%;
}

/*------ styles -------*/

.body-details {
  padding: 0 2rem;
  background-color: #a5a9bc;
}

@media (min-width: 768px) {
  .body-details {
    padding: 0 4rem;
  }
}

@media (min-width: 1024px) {
  .body-details {
    padding: 0 10rem 8rem 10rem;
  }
}

.header_detail {
  font-family: "Prompt", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

@media (min-width: 768px) {
  .header_detail {
    display: flex;
  }
}

.header_detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .header_detail {
    display: flex;
  }
}

@media (min-width: 768px) {
  .header_detail {
    display: flex;
  }
}

.header_detail__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ECEDF1;
}

.header_detail__logo {
  font-size: 1.5rem;
}

@media (min-width: 1024px) {
  .header_detail__logo {
    font-size: 2rem;
  }
}

.header_detail__name {
  font-size: 1.5rem;
  padding: 1rem;
  color: #ECEDF1;
  font-weight: 600;
}

@media (min-width: 768px) {
  .header_detail__name {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .header_detail__name {
    font-size: 2.5rem;
  }
}

.header_detail__menu {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  font-style: none;
}

.header_detail__menu--item {
  font-size: 1.5rem;
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  color: #ECEDF1;
  text-decoration: none;
}

.detailsPage {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detailsPage__cover {
  background-color: #0D0D0D;
  object-fit: cover;
  width: 100%;
  height: 30rem;
}

@media (min-width: 1024px) {
  .detailsPage__cover {
    height: 65rem;
  }
}

.detailsPage__line {
  background-color: #dafe93;
  width: 100%;
  height: 1.5rem;
}

.detailsPage__card {
  background-color: #fff;
  color: #0D0D0D;
  display: grid;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .detailsPage__card {
    grid-template-columns: 70% 30%;
    gap: inherit;
  }
}

.detailsPage__card--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: auto;
  padding-top: 1rem;
}

.detailsPage__card--info--title {
  color: #29B583;
  font-family: Inter, sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
      margin-bottom: 0.4rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--title {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--title {
    font-size: 2.4rem;
  }
}

.detailsPage__card--info--slogan {
  color: #353E40;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--slogan {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--slogan {
    font-size: 1.8rem;
  }
}

.detailsPage__card--info--desc {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--desc {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--desc {
    font-size: 1.6rem;
  }
}

.detailsPage__card--info--technologies {
  color: #353E40;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: bolder;
}

@media (min-width: 768px) {
  .detailsPage__card--info--technologies {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--info--technologies {
    font-size: 1.8rem;
  }
}

.detailsPage__card--info--icons--i {
  color: #033631;
  font-size: 1.4rem;
  padding-right: 0.7rem;
  padding-top: 0.6rem;
}

@media (min-width: 768px) {
  .detailsPage__card--info--icons--i {
    font-size: 1.6rem;
  }
}

.detailsPage__card--autor {
  background-color: #0D0D0D;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

.detailsPage__card--autor--img {
  object-fit: cover;
  height: 6rem;
  width: 6rem;
}

@media (min-width: 768px) {
  .detailsPage__card--autor--img {
     height: 10rem;
      width: 10rem;
  }
}


.detailsPage__card--autor--job {
  color: #ECEDF1;
  font-family: Inter, sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--autor--job {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--autor--job {
    font-size: 1.8rem;
  }
}

.detailsPage__card--autor--name {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  color: #AE95F5;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .detailsPage__card--autor--name {
    font-size: 1.6rem;
  }
}

@media (min-width: 1024px) {
  .detailsPage__card--autor--name {
    font-size: 2.2rem;
  }
}
