/* font-family: 'DM Serif Display', serif;
font-family: 'Inter', sans-serif; */

// Fonts
$titles: 'Prompt', sans-serif;
$regular: 'Inter', sans-serif;



// Colors
$lime: #DAFE93;
$green: #29B583;
$purple: #AE95F5;

$black1: #0D0D0D;
$black2: #282F32;
$black3: #353E40;

$grey1: #A5A9BC;
$grey2: #D7DAED;

$white: #ECEDF1;

$sand-color: #E4E0DB;
$dark-sand-color: #9e9385;
$light-sand-color: #F4F1EB;
$orange-color: #EC5A46;
$dark-green-color: #033631;
$light-green-color: #70ADA7;
